<div class=" text-center">
	<div class="card">
  	  <h5 class="card-header">Event : Dinner @ St. Anthony's</h5>
	  <div class="card-body ">
		    <div class="container">
				  <div class="row">
				    <div class="col">
				      <p>Date : <input type="text" id="datepicker"/></p>
				    </div>
				  </div>
				  
				  <div class="form-group row">
				    <div class="col ">
				      <p>Hours : <input type="text" class="col-xs-2"/></p>
				    </div>
				  </div>
			</div>
		</div>
		<div>
			<img src="./img/bananadance.gif" alt="..." class="img-thumbnail">
			<img src="./img/cat.gif" alt="..." class="img-thumbnail">
			<img src="./img/dancing_bear.gif" alt="..." class="img-thumbnail">
			
			<img src="./img/dancingpanda.gif" alt="..." class="img-thumbnail">
			<img src="./img/doge3d.gif" alt="..." class="img-thumbnail">
			<img src="./img/excited.gif" alt="..." class="img-thumbnail">
			<img src="./img/happy_bunny.gif" alt="..." class="img-thumbnail">

		</div>
		<div class="card mb-3">

	</div>


	<div class="container">
    <div class="row">
        <div class="col">
    		<form>
    		    <div class="input-group mb-3">
				  <input type="text" name="item" id="add" class="form-control" placeholder="Add new task" aria-label="Recipient's username" aria-describedby="basic-addon2">
				  <div class="input-group-append">
				    <span class="input-group-text" id="addbtn">+</span>
				  </div>
				</div>
                <div class="form-group">
                    <ul id="list" class="list-group text-left">
                    </ul>
                </div>

                <input type="button" id="addbtn1" name="addbtn1" value="Save" class="btn btn-primary mb-3" />
    		</form>
		</div>
	</div>
</div>


    	
  	</div>
</div>


<script>
$(document).ready(function(){

$('#addbtn1').click(function() {
    location.reload();
});


$( "#datepicker" ).datepicker();
$("img").click(function(){
if($(this).css("background-color") == 'rgb(255, 255, 255)'){	
  $(this).css("background-color", "azure");
} else {
	$(this).css("background-color", "white");
}
});

	$('#addbtn').click(function(){
		var newitem = $('#add').val();
		var uniqid = Math.round(new Date().getTime() + (Math.random() * 100));
		$('#list').append('<li id="'+uniqid+'" class="list-group-item"><input type="button" data-id="'+uniqid+'" class="listelement pull-right" value="X" /> '+newitem+'<input type="hidden" name="listed[]" value="'+newitem+'"></li>');
		$('#add').val('');
		return false;
	});
    $('#list').delegate(".listelement", "click", function() {
		var elemid = $(this).attr('data-id');
		$("#"+elemid).remove();
    });
});

</script>