<div class="container">
        <div style="height: 200px; background-color: #CCEAEA; width:900px">
        <table align="center" width="80%">
            <tr><td rowspan="3"><image src="../css/avatar.png" width="90"></td></tr>
            <tr><td>Vandana P.</td></tr>
            <tr><td>Level 2</td></tr>
        </table>
        </div>
        <div class="row">
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="progress blue">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                    <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                    <div class="progress-value"> <image src="../css/emojis/bear.gif"></image></div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="progress yellow">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                    <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                    <div class="progress-value"> <image src="../css/emojis/watermelon_1f349.gif"></image></div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="progress yellow">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                    <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                    <div class="progress-value"> <image src="../css/emojis/womans-clothes_1f45a.gif"></image></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="progress blue">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                    <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                    <div class="progress-value"> <image src="../css/emojis/panda.gif"></image></div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="progress yellow">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                    <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                    <div class="progress-value"> <image src="../css/emojis/dancing_bear.gif"></image></div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="progress yellow">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                    <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                    <div class="progress-value"> <image src="../css/emojis/kowala.gif"></image></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="progress blue">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                    <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                    <div class="progress-value"> <image src="../css/emojis/poultry-leg_1f357.gif"></image></div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="progress yellow">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                    <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                    <div class="progress-value"> <image src="../css/emojis/dog-face_1f436.gif"></image></div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="progress yellow">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                    <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                    <div class="progress-value"> <image src="../css/emojis/house-with-garden_1f3e1.gif"></image></div>
                </div>
            </div>
        </div>
        </div>
	</div>