<div class="container mt-2">

    <div class="row">
        <div class="col-lg-12">
            <div width="100%" style="background-color:#7bc1b4ff">
                <image src="../img/leaderboard.png" width="100%"/>
            </div>
        </div>
    </div>
    <h5>Community Badges</h5>
    <div class="row">
        <div class="col-sm-4 py-2">
            <div class="card card-body h-100">
                <div class="progress-value">
                    <image src="../css/moving_gifs/unicorn_1.gif"></image>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Universal Unicorn</h4>
                    <p class="card-text">Serving food, cleaning the shelter, taking headshots,
                        running a clothing donation drive...is there anything you can't do, you magical
                        unicorn, you?!</p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 py-2">
            <div class="card card-body h-100">
                <div class="progress-value">
                    <image src="../css/moving_gifs/cat.gif"></image>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Fancy Feline</h4>
                    <p class="card-text">Mee-owwww! You helped 150 guests select purrr-fectly fitting garments 
                        that meet their needs. You deserve some human catnip.
                        </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 py-2">
            <div class="card card-body h-100">
                <div class="progress-value">
                    <image src="../css/moving_gifs/dancing_bear.gif"></image>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Big Bear Boss</h4>
                    <p class="card-text">You're kind of a big deal: you're not only helping us place people into shelters - 
                    you've mentored other volunteers step up and help the community as well. You're a trailblazer (or should we say
                    trail BEARer?!)</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 py-2">
            <div class="card card-body h-100">
                <div class="progress-value">
                    <image src="../css/moving_gifs/happy_bunny.gif"></image>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Happy Hoppity</h4>
                    <p class="card-text">By tutoring our youth, you're helping them hop happily into the
                        world with knowledge and confidence under their belt. Happy high five for your scholastic
                        service!</p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 py-2">
            <div class="card card-body h-100">
                <div class="progress-value">
                    <image src="../css/moving_gifs/dancingpanda.gif"></image>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Powerful Panda</h4>
                    <p class="card-text">You brightened our day and hearts by talking to our guests
                    and making them feel welcome. Thanks to you, they feel a sense of purpose and
                    meaning in life. Dang - that's powerful!</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 py-2">
            <div class="card card-body h-100">
                <div class="progress-value">
                    <image src="../css/moving_gifs/doge3d.gif"></image>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Wonderful Woof Woof</h4>
                    <p class="card-text">You whipped us into shape in our Prep Kitchen today, helping us
                    serve hot, nutritious meals to hundreds of hungry guests. Tomorrow they'll wake up energized 
                    and ready to face the day with a sense of courage and direction.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 py-2">
            <div class="card card-body h-100">
                <div class="progress-value">
                    <image src="../css/moving_gifs/smiling_sun.gif"></image>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Super Sunshine</h4>
                    <p class="card-text">You've freshened up our shelter, making it a warm, welcoming,
                    and pleasant place for our guests to sleep and plan for a brighter future. Thanks for
                    helping us clean up their home base!</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 py-2">
            <div class="card card-body h-100">
                <div class="progress-value">
                    <image src="../css/moving_gifs/dancing_corgi.gif"></image>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Cozy Corgi</h4>
                    <p class="card-text">Thanks for helping our unhoused guests feel cozy and welcome tonight with your comforting conversation!</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 py-2">
            <div class="card card-body h-100">
                <div class="progress-value">
                    <image src="../css/moving_gifs/my_little_pony.gif"></image>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Magical Pony</h4>
                    <p class="card-text">You went above and beyond and help us serve food to our guests when we needed you the most.
                        If that's not magical, we don't know what is.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function(){
    $("#nav-item").click(function(){
        console.log("Test");
        if($(this).hasClass("active")){ 
          $(this).css("background-color", "azure");
        } else {
            $(this).addClass("active");
        }
    });
});

</script>


